.display{
    width: 100%;

}
.outerDisplay{
    display: flex;
    flex-direction: row;
}
.logos{
    display: flex;
    justify-content: space-evenly;
}
body {
    width: 100%;
    height: 100vh;
}
.eyes1{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 870px;
    margin-left: 260px;
}
.eyes2{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1340px;
    margin-left: 250px;

}
.productImage{
    width: 300px;
    height: 60vh;
}
.product{
    border: 1px solid black;
}
.new{
    position: absolute;
    top: 870px;
    margin-left: 10px;
    border: 1px solid black;
    background-color: white;
    height: 12px;
    font-size: 10px;
    width: 35px;
    text-align: center;
}
.sale{
    position: absolute;
    top: 870px;
    margin-left: 10px;
    border: 1px solid black;
    background-color: white;
    height: 12px;
    font-size: 10px;
    width: 35px;
    text-align: center;
}
.sold{
    position: absolute;
    top: 1340px;
    margin-left: 10px;
    border: 1px solid black;
    background-color: black;
    height: 12px;
    font-size: 10px;
    width: 35px;
    text-align: center;
    color: white;
}
.man{
    width: 620px;
    height: 90vh;
}
.mann{
    position: absolute;
    top: 2000px;
    left: 250px;

}
.woman{
    position: absolute;
    top: 2000px;
    left: 870px;
}
.mann p{
   text-align: center;

}
.woman p{
    text-align: center;
}
.bars{
    width: 25px;
    height: 20px;
    margin-left: 600px;
}
.logo{
    width: 120px;
    height: 30px;
}